@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css");
.hidden {
    display: none;
}
.has-ellipsis {
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.control.is-flex-1 {
    flex: 1;
}
.control.has-icon-left .icon {
    color: #dbdbdb;
    height: 1.7em;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 4;
    font-size: 1.2em;
}
.control.has-icon-left .icon.is-left {
    left: 0;
}
.control.has-icon-left .input {
    padding-left: 1.5em;
    font-size: 1em;
}
.input:focus {
    box-shadow:none;
}
/* #region  TagInput */
.et--taginput--container {
    border: 1px solid transparent;
    line-height: 1.5;
    padding: calc(.375em - 1px) calc(.625em - 1px);
    position: relative;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    max-width: calc(100% - 1.5em);
    width: 100%;
    padding-bottom: 0;
    padding-top: calc(.275em - 1px);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.et--taginput--container input {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    box-shadow: none;
    outline: none;
    min-width: 8em;
}
.et--taginput--container:focus-within{
    box-shadow: 0 0 2px rgb(179, 120, 255);
    border: 1px solid rgb(170, 120, 255);
}
.et--taginput--tag {
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    margin-bottom: calc(.275em - 1px);
    margin-right: .5rem;
    font-size: 1em;
    height: 1.7em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
}
.et--taginput--tag>.delete {
    margin-left: .375rem;
    margin-right: -.375rem;
    height: 22px;
    width: 16px;
    opacity: .75;
    cursor: pointer;
}
.et--taginput--tag>.delete:hover {
    opacity: 1;
}
/* #endregion */

/* #region  Modal */
.et--modal--hidden {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.et--modal--hidden.is-active {
    display: flex;
}
.et--modal--overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: hsla(0,0%,4%,.86);
    z-index: 98;
}
.et--modal--content {
    margin: 0 20px;
    overflow: auto;
    position: relative;
    padding: 20px;
    background-color: #fff;
    max-height: calc(100vh - 80px);
    max-width: calc(100vw - 300px);
    animation: scale .4s;
    z-index: 99;
}
@keyframes scale {
    from {transform:scale(1.2)}
    to {transform:scale(1)}
}
/* #endregion */

